<header>
  <i class="material-icons" id="menu" onclick="showmenu()">menu</i>
  <div
    class="searchbar"
    style="border: none; background-color: rgba(0, 0, 0, 0)"
  ></div>
 
  <div class="user-panel">
    <p class="username"><%=usermail%></p>
    <i class="material-icons-outlined" id="person">person
      <div class="logout">
        <div method="post" id="logout-form" >
          <button id="logout-button" onclick="logout()">logout</button>
        </div>
      </div>
    </i>
    <i class="material-icons-outlined" onclick="reload()">refresh</i>
  </div>
</header>
<div class="alertthis">gegeg</div>
<div class="sidebar">
  <div class="sidebar-header">
    <i class="material-icons-outlined" id="closemenu" onclick="showmenu()"
      >arrow_back</i
    >

    <div class="logo-div"><i></i></div>
  </div>
  <div class="sidebar-content1">
    <div class="home-div" onclick="location.href='/landing'">
      <i class="material-icons-outlined">home</i>
    </div>
    <div class="rooms-div" onclick="location.href='/rooms'">
      <i class="material-icons-outlined">meeting_room</i>
    </div>
    <div class="sections-div" onclick="location.href='/sections'">
      <i class="material-icons-outlined">summarize</i>
    </div>
    <div class="faculty-div" onclick="location.href='/faculty'">
      <i class="material-icons-outlined">assignment_ind</i>
    </div>
    <div class="manage-div" onclick="location.href = '/manage'" style="display: none;">
      <i class="material-icons">manage_search</i>
    </div>
    <div class="account-settings" onclick="location.href = '/account'">
      <i class="material-icons-outlined">manage_accounts</i>
    </div>
    
    <div class="manage-users" onclick="location.href = '/useroption'" style="display: none;">
      <i class="material-icons-outlined">groups</i>
    </div>
    
    <div class="search" onclick="location.href = '/search'">
      <i class="material-icons-outlined">explore</i>
    </div>
    
  </div>
  <div class="sidebar-content2">
    <div class="feedback-div" onclick="location.href='/feedback'">
      <i class="material-icons-outlined">feedback</i>
    </div>
    <div class="feedbacks" onclick="location.href= '/feedbacks'" style="display: none;">
      <i class="material-icons-outlined">comment</i>
    </div>
  </div>
  
  
</div>

<p style="display: none;" class="rolecont"><%= role %></p>
