main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 70%;
  height: 80%;
  margin-left: 15%;
  animation: allin ease 1s;
  transform-origin: bottom;
  position: absolute;
  bottom: 10%;

}
#logout-form button{
  border: none;
  background-color: transparent;
  font-family: "archivo";
  margin-top: 15px;
}
.container > div {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 10px;

}
select {
  width: 100px;
  background-color: transparent;
}
*::-webkit-scrollbar{
  width: 0;
}
.session-inputs {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.manageSessions  p  {
  font-family: "poppins";
  font-size: 20px;
  width: 100%;
  text-align: center;
  height: 10%;
}

.manageSessions > div,
form > div {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10%;
}
.manageSessions  button {
  display: block;
  margin: auto;
  width: 40%;
  height: 10%;
  min-height: 30px;
  max-height: 30px;
  border-radius: 5px;
  background-color: palevioletred;
  border: 1px solid black;
}
form{
  height: 60%;
}
.session-inputs input[type="text"] {
  width: 150px;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  height: 30px;
  background-color: transparent;
  color: black;
}
.session-inputs input[type="text"]::placeholder {
  width: 150px;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  height: 30px;
  background-color: transparent;
  color: rgba(0, 0, 0,0.5);
  text-align: center;
}
::placeholder{
  color: rgba(0, 0, 0,0.5);
}
.addroom-button {
  border-top: 1px solid black;
  width: 90% !important;
  margin: auto;
  margin-top: 20px;
}
.submitRoom {
  background-color: rgba(255, 217, 0, 1) !important;
}
select {
  font-family: "poppins";
  width: 150px;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  position: relative;
}
option {
  background-color: palevioletred;
  box-shadow: unset;
}
.roomss-div,
.startt,
.endd,
.subject-inpp,
.section-inpp,
.dayy-div,
.faculty-inpp {
  position: relative;
}
.roomss-div::after,
.startt::after,
.endd::after,
.subject-inpp::after,
.section-inpp::after,
.dayy-div::after,
.faculty-inpp::after {
  content: "Rooms";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100%;
  font-family: "poppins";
  font-size: 15px;
}
.dayy-div::after{
  content: "day";
}
.roomss-div::after {
  content: "room";
}
.startt::after {
  content: "Start";
}
.endd::after {
  content: "End";
}
.subject-inpp::after {
  content: "Subject";
}
.section-inpp::after {
  content: "Section";
}
.room-input-name{
  text-transform: uppercase;
}
.faculty-inpp::after{
  content: "Faculty";
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
@keyframes allin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 391px) and (max-width: 768px) {
  .container {
    margin-left: 8%;
    flex-direction: column;
  }
  .container > div {
    width: 100%;
    height: 70%;
    gap: 10%;
  }
  .roomss-div::after,
  .startt::after,
  .endd::after,
  .subject-inpp::after,
  .section-inpp::after {
    content: "Rooms";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -72%;
    font-family: "poppins";
    font-size: 12px;
  }
}
@media screen and (max-width: 390px) {
  .session-inputs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15%;
    margin-top: 8%;
  }
  .container {
    margin-left: 0;
    flex-direction: column;
    height: 90%;
  }
  .container > div {
    width: 100%;
    height: 60%;
    gap: 10%;
    position: absolute;
    bottom: 12%;
  }
  .session-inputs input[type="text"] {
    width: 100px;
    text-align: start;
  }
  .session-inputs input[type="text"]::placeholder {
    text-align: start;
  }
  select {
    font-family: "poppins";
    width: 100px;
  }
  @keyframes allin {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .roomss-div::after,
  .startt::after,
  .endd::after,
  .subject-inpp::after,
  .section-inpp::after {
    content: "Rooms";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -67%;
    font-family: "poppins";
    font-size: 10px;
  }
}
#logout-form button{
  border: none !important; 
  background-color: transparent !important;
  font-family: "archivo" !important;
  margin-top: 15px !important;
}
button:first-of-type {
  margin-top: 12px !important;
}
.manageSessions{
  background-color: white;
}


