body{
    width: 100vw;
    height: 100vh;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-main-div{
    width: 800px;
    height: 600px;
    background-color: white;
    position: absolute;
    left: 30%;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-main-div > form{
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
 
}
.feedback-main-div div{
    width: 700px;
    height: 400px;


}
.feedback-main-div button{
    width: 200px;
    height: 50px;
    background-color: rgba(255, 220, 21, 1);
    border: none;
    margin-top: 80px;
    border: 2px solid black;
    font-family: "archivo";
    font-size: 16px;
    border-radius: 10px;

}
form textarea{
    outline: none;
    width: 90%;
    height: 90%;
    padding: 5% 5%;
    font-family: "archivo";
    letter-spacing: 3px;
    border: none;
    font-size: 20px;
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 10px;
}
#logout-form button{
    border: none;
    background-color: transparent;
    font-family: "archivo";
    margin-top: 15px;
  }