body{
    width: 100vw;
    height: 100%;
    
}
main{
    width: 90%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}



table {
    border-collapse: collapse;
    margin: 25px 0;
    margin-top: 2500px;
    font-size: 1em;
    min-width: 900px;
    margin-left: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 1px 0px rgb(0, 0, 0);
    animation: fadeInUp 1s ease;
    width: 1000px;
  }
  table > thead > tr {
    text-align: left;
    font-family: "poppins";
  }
  table th {
    font-size: 1.5em;
    background-color: palevioletred;
  }
  table th:first-of-type {
    border-radius: 5px 0 0 5px;
  }
  table th:last-of-type {
    border-radius: 0 5px 5px 0;
  }
 th,
 td {
  padding: 25px 0;
  padding-left: 25px;
  height: 15px;
  text-align: center;
  border: 1px solid black;
}
*{
    cursor: pointer;
}
input[type="text"]{
    border: none;
    text-align: center;
    outline: none;
    font-family: "archivo";
}
.ptag{
    text-align: start;
    width: 100%;
    margin-left: 10px;

}
td button{
   display: flex;
   justify-content: center;
   align-items: center; 
   height: 20px;
   height: 20px;
}
select{
    padding: 0 10px;
}
option{
    background-color: palevioletred;
}
